<div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h6 class="mb-0">Full Name</h6>
                                    <p class="text-secondary">John Doe</p>
                                </div>
                                <div class="col-sm-12">
                                    <h6 class="mb-0">Email</h6>
                                    <p class="text-secondary">johndoe@example.com</p>
                                </div>
                                <div class="col-sm-12">
                                    <h6 class="mb-0">Phone</h6>
                                    <p class="text-secondary">(123) 456-7890</p>
                                </div>
                                <div class="col-sm-12">
                                    <h6 class="mb-0">Address</h6>
                                    <p class="text-secondary">123 Street, City, State, Country</p>
                                </div>